@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap');
/*font-family: 'Swanky and Moo Moo', cursive;*/

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

a:visited{
    color: #015F9C;
}

body{
    display: flex;
    background-image: radial-gradient(#E2E2E2, #DFDFDF);
    background-attachment: fixed;
    flex-direction: column;
    justify-content: space-between;
    
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 5rem;
    background-color: #FCE006;
}

.logo{
    padding-left: 4rem;
    height: 5rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu__item, .menu__item__homer{
    color: #015f9c;
    font-family: 'Swanky and Moo Moo', cursive;
    font-weight: 400;
    font-size: 3rem;
    padding-right: 7.5rem;
    cursor: pointer;
}

.menu__item__homer{
    border: 0;
    border-radius: 5rem;
    padding-inline: 2rem;
    color: #FCE006;
    background-color: #015f9c;
}
.menu__item__homer:hover{
    background-color: #023353;
}

.menu__item:hover{
    background-color: #a7630b;
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5rem;
}

.content__image{
    height: 60rem;
    padding-left: 6rem;
}

.content__text{
    color: #015f9c;
    font-family: 'Swanky and Moo Moo', cursive;
    padding: 10rem;
}

.content__text__title{
    font-size: 7rem;
}

.content__text__about{
    font-size: 2.7rem;
}